html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
}
.book{
  max-width: 75%;
}
.list-group-item{
  overflow-wrap: break-word;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="text"],textarea {
  margin-bottom: 10px;
}
textarea.form-control{
  min-height: 200px;
}